 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/Gemini_Generated_Image_b8mw54b8mw54b8mw.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 945px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1080px;
  margin: -36px -235px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 579px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 354px;
  height: 354px;
  background-image: url("images/Gemini_Generated_Image_b8mw54b8mw54b8mw.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 91px 78px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 31px 0 -387px 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 579px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    margin-right: -211px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 120px -180px -32px 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -93px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-2 .u-image-2 {
    --radius: 50px;
    margin-top: -300px;
    margin-bottom: 30px;
  }
}