 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/Gemini_Generated_Image_b8mw54b8mw54b8mw.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 715px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 243px 0 267px;
}

.u-section-2 .u-list-1 {
  margin: 46px auto 19px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 228px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 173px;
    margin-left: 197px;
    width: 570px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 63px;
    margin-left: 87px;
  }

  .u-section-2 .u-list-1 {
    width: 770px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1052px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 374px;
    height: 374px;
    --radius: 50px;
    margin-top: -471px;
    margin-right: -25px;
    margin-bottom: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-bottom: 27px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -8px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1296px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}